

.bg {
  margin-top: 250px;
  float: right;
  margin-right: 80px;
  font-family: 'Righteous', cursive;
  color: tomato;
}
.back {
  background: #f3f8ff;
}

.canvascontainer {
    border-radius: 12px;
    align-self: center;
}

#best {
  font-family: 'Hind Guntur', sans-serif;
  font-size: 15px;
  line-height: 1;
  color: #fff;
  letter-spacing: 0.025em;

  background: #379aff;
  padding: 18px 1.5 11px;
  text-align: center;
  cursor: pointer;
  border: 0;
  border-radius: 2px;
  min-width: 120px;
  overflow: hidden;

  position: absolute;
  top: 60%;
  right: 5%;
  transform: translate(-50%, -50%);
}

#best span {
  display: block;
  position: relative;
  z-index: 10;
}
